@import "../../global.css";

.intro {
  display: flex;
  transform: 0.6s;
}

.intro-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  height: full;
  width: full;
  max-width: 1000px;
  padding: 50px;
  margin: 20px;
  color: #048b82;
}
h1 {
  font-size: 60px;
  margin: 20px 0;
  color: var(--main-color);
  font-weight: 800;
  font: bold;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 30px;
  color: var(--secondary-color);
}
span {
  color: #048b82;
}

.intro p {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  color: var(--main-color);
}

.intro-button {
  margin-top: 70px;
  border-radius: 6px;
  cursor: pointer;
  border-color: transparent;
  font-size: 20px;
  padding: 18px;
  width: 200px;
  background-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
  color: whitesmoke;
  background-image: linear-gradient(to left, #c4e538, #009432, #c4e538);
  transition: 0.6s;
}

.intro-button:hover {
  background-position: right;
}

.intro-button a {
  font-weight: bold;
  text-transform: uppercase;
  color: whitesmoke;
  text-decoration: none;
}

/* .custom-shape-divider-bottom-1659691707 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1659691707 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 174px;
}

.custom-shape-divider-bottom-1659691707 .shape-fill {
  fill: var(--main-color);
} */

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
  }
}
