@import "./global.css";

html {
  scroll-behavior: smooth !important;
}
.App {
  height: 100vh;
}
.App .sections {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: var(--dark-background);
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.App .sections > * {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}
/* SCROLLBAR */
.App > *::-webkit-scrollbar {
  width: 0.5vw;
  background-color: var(--dark-background);
}
.App > *::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 100vw;
}
.App > *::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

/*.App .sections > *::-webkit-scrollbar-track {
  background-color: transparent;
} */
