@import "./global.css";

.App {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(./components/Intro/CSS-Images/background.jpg);
}
.App .sections {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: var(--background);
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color);
}
.App .sections > * {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}
/* SCROLLBAR */
.App > *::-webkit-scrollbar {
  width: 0.5vw;
  background-color: var(--background);
}
.App > *::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 100vw;
}
.App > *::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}

/*.App .sections > *::-webkit-scrollbar-track {
  background-color: transparent;
} */
