@import "./global.css";

.App {
  height: 100vh;
  background-color: var(--main-color);
}
.App .sections {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #f5f5f5;
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color);
}
.App .sections > * {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}
.App .sections > *::webkit-scrollbar {
  width: 2vw;
}
.App .sections > *::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
.App .sections > *::-webkit-scrollbar-thumb:hover {
  background-color: "#0B7B3C";
}

.App .sections > *::-webkit-scrollbar-track {
  background-color: transparent;
}
